{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@theme": ["src/theme/index.ts"],
          "@types": ["src/types/index.ts"]
        }
      }
    ]
  ]
}
