{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Components": ["./src/components/index.ts"],
          "@Theme": ["src/theme/index.ts"],
          "@Types": ["src/types/index.ts"]
        }
      }
    ]
  ]
}
